<!-- footer section -->
<wrapper class="footer" style="margin-top: 40px;">
    <container class="footer-container">
      <row>
        <columns small="2.4">
                <a href=""> <img src="{{HmEmail.FootER.woMANimg}}" alt=""></a>
                <p>{{HmEmail.FootER.Tex1}}</p>
          </columns>
          <columns small="2.4">
                <a href=""><img src="{{HmEmail.FootER.MenIMG}}" alt=""></a>
                <p>{{HmEmail.FootER.tEXT2}}</p>
          </columns>
          <columns small="2.4">
                <a href=""><img src="{{HmEmail.FootER.woMAN2}}" alt=""></a>
                <p>{{HmEmail.FootER.tEXT3}}</p>
          </columns>
          <columns small="2.4">
                <a href=""><img src="{{HmEmail.FootER.kidIMG}}" alt=""></a>
                <p>{{HmEmail.FootER.tEXT4}}</p>
          </columns>
          <columns small="2.4">
                <a href=""> <img src="{{HmEmail.FootER.store}}" alt=""></a>
                <p>{{HmEmail.FootER.tEXT5}}</p>
        </columns>
      </row>
    </container>
    <!-- applications section -->
    <container>
        <row class="applications">
            <columns small="6">
                <p style=" vertical-align: middle;">{{HmEmail.Apps.aPPLication}}</p>
                <center>
                    <a href=""><img src="{{HmEmail.Apps.Android}}" alt=""class="float-center "></a><br>
                    <a href=""><img src="{{HmEmail.Apps.iOS}}" alt=""class="float-center " 
                        style="width:44px !important;"></a>
                </center>
            </columns>
            <columns small="6">
                <p style=" vertical-align: middle;">{{HmEmail.Apps.SErviCE}}</p>
                <center>
                    <a href=""><img src="{{HmEmail.Apps.FINDstore}}" alt="" class="float-center "></a><br>
                    <a href=""><img src="{{HmEmail.Apps.Contact}}" alt=""class="float-center "></a>
                </center>
            </columns>
        </row>
    </container>
    <container>
        <!-- footer-logo section -->
        <row class="footer-logo">
            <columns>
                <img src="{{HmEmail.HMlogo.logoINFootER}}" alt="" class="float-center ">
            </columns>
        </row>
        <!-- footer-social section -->
        <row class="footer-social">
            <columns></columns>
                <columns small="2.4">
                    <a href=""><img src="{{HmEmail.SocialMEDIA.Facebook}}" alt=""></a>
                </columns>
                <columns small="2.4">
                    <a href=""><img src="{{HmEmail.SocialMEDIA.Twitter}}" alt=""></a>
                </columns>
                <columns small="2.4">
                    <a href=""><img src="{{HmEmail.SocialMEDIA.Instagram}}" alt=""></a>
                </columns>
                <columns small="2.4">
                    <a href=""><img src="{{HmEmail.SocialMEDIA.Youtube}}" alt=""></a>
                </columns>
                <columns small="2.4">
                    <a href=""><img src="{{HmEmail.SocialMEDIA.Pinterest}}" alt=""></a>
                </columns>
            <columns></columns>
        </row>
    </container>
    <!-- footer text section -->
    <container>
        <row class="Id">
            <columns>
                <span class="text-center">
                     <strong>{{HmEmail.Userinfo.userID}}</strong>{{HmEmail.Userinfo.cOde}}
                </span>
            </columns>
        </row>
        <row class="terms">
            <columns>
                <span class="text-center">
                    {{HmEmail.Terms.condition1}}<br>
                    {{HmEmail.Terms.offer}} <br>
                    {{HmEmail.Terms.validity}} 
                </span>
            </columns>
        </row>
        <row class="terms">
            <columns>
                <span class="text-center">
                                {{HmEmail.Terms.MemberOFFer}} <br> 
                    <a href="">  {{HmEmail.Terms.website}} </a> {{HmEmail.Terms.HMapp}}
               </span>
            </columns>
       </columns>
        </row>
        <row class="terms">
            <columns>
                <span class="text-center">
                    {{HmEmail.Terms.sTockavailabilitY}} 
               </span>
            </columns>
       </columns>
        </row>
        <row class="terms">
            <columns>
                <span class="text-center">
                    {{HmEmail.Terms.Promotion}} <br>
                    {{HmEmail.Terms.Newsletter}} <br>
                     {{HmEmail.Terms.oneWord}}<a href="">{{HmEmail.Terms.hmWEB}}</a> 
                     {{HmEmail.Terms.MessageSENT}}
                     <a href="">{{HmEmail.Terms.Masteraddress}} </a>, <br>
                     {{HmEmail.Terms.zipAddress}}
               </span>
            </columns>
       </columns>
        </row>
        <row class="terms">
            <columns>
                <span class="text-center">
                     {{HmEmail.Terms.LocaLCONtact}}
                    <a href="">{{HmEmail.Terms.NYC}}</a>
               </span>
            </columns>
       </columns>
        </row>
        <row class="terms">
            <columns>
                    <span class="text-center">
                        <a href="" style="text-decoration: underline ;color:#222 ;font-size: 13px!important;"> 
                            {{HmEmail.Terms.dontSuscribe}}</a>
                    </span>
                    <span class="text-center">
                        <a href="" style="text-decoration: underline;color: #222  !important;">
                            {{HmEmail.Terms.VIEWS}}</a>
                    </span>
            </columns>
       </columns>
        </row>
    </container>
  </wrapper>
  